<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
        >
    <php>
        <ini name="date.timezone" value="America/Lima"/>
        <env name="DATABASE_NAME" value="qandidate"/>
        <env name="DATABASE_USERNAME" value="travis"/>
        <env name="DATABASE_PASSWORD" value=""/>
    </php>

    <testsuites>
        <testsuite name="Hangman Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>