<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Qandidate Hangman{% endblock %}</title>
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">
    </head>
    <body role="document">
        <div class="container theme-showcase" role="main">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/modules.js"></script>
        <script type="text/javascript" src="/js/routing.js"></script>
        <script type="text/javascript" src="/js/services.js"></script>
        <script type="text/javascript" src="/js/controllers.js"></script>
    </body>
</html>
