<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Qandidate Hangman{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="/components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/modules.js"></script>
        <script type="text/javascript" src="/js/routing.js"></script>
        <script type="text/javascript" src="/js/services.js"></script>
        <script type="text/javascript" src="/js/controllers.js"></script>
    </body>
</html>
