{% extends '::layout.html.twig' %}
{% block body %}
    <div id="app" class="row-fluid" ng-app="Qandidate">
        <div class="text-center" ng-controller="CreateController">
            <form novalidate ng-submit="create()">
                <button class="btn btn-lg btn-success" type="submit">Start New Game</button>
            </form>
        </div>
        <div ng-view>
        </div>
        <script type="text/ng-template" id="index.html">
            <h1> Let's Play Hangman!</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Game Word</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="span3" ng-repeat="game in games">
                        <td><a ng-href="[[ routingPrefix ]]/#/games/[[ game.uuid ]]">[[ game.mask ]]</a></td>
                        <td>[[ game.status ]]</td>
                    </tr>
                </tbody>
            </table>
        </script>
        <script type="text/ng-template" id="view.html">
            <div class="text-center" ng-switch on="game.status" ng-keydown="form.onKeyDown()">
                <div ng-switch-when="busy">
                    <form novalidate ng-submit="guessChar()">
                        <div class="alert alert-danger tries-left" role="alert">
                            [[ game.tries_left ]] tries left
                        </div>
                        <div class="hangman-font-mask">
                            [[ game.mask ]]
                        </div>
                        <div class="btn-group">
                            <button ng-disabled="[[ form.submitting ]]" ng-repeat="letter in form.letters" class="btn btn-primary btn-sm" ng-click="guessChar(letter)" type="button">[[ letter ]]</button>
                        </div>
                    </form>
                </div>
                <div ng-switch-when="fail">
                    <h1>Oops, hanged!</h1>
                </div>
                <div ng-switch-when="success">
                    <h1>Congratulations! You are the Word Ninja!</h1>
                </div>
                <div ng-switch-default>
                    <h1>Game Not Found.</h1>
                </div>
                <div class="bottom-links">
                    <a ng-href="[[ routingPrefix ]]/#/">All Games</a>
                </div>
            </div>
        </script>
    </div>
{% endblock %}
