{% extends '::layout.html.twig' %}
{% block body %}
    <div id="app" ng-app="Qandidate">
        <div ng-controller="CreateController">
            <form novalidate ng-submit="create()">
                <button type="submit">Start New Game</button>
            </form>
        </div>
        <div ng-view>
        </div>

        <script type="text/ng-template" id="index.html">
            <h1> Let's Play Hangman!</h1>
        </script>

        <script type="text/ng-template" id="view.html">
            <form novalidate ng-submit="guessChar()">
                <table>
                    <tr>
                        <td>Tries left</td>
                        <td>[[ game.tries_left ]]</td>
                    </tr>
                    <tr>
                        <td>Word</td>
                        <td>[[ game.mask ]]</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" ng-model="attemped_char" />
                            <button type="submit">Guess</button>
                        </td>
                    </tr>
                </table>
            </form>
        </script>
    </div>
{% endblock %}
