# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_name: qandidate
    database_username: root
    database_password: test
    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            YouWillNeverGuess
