.hangman-font-mask {
    font-size: 120px;
    font-family: Monaco, monospace;
    letter-spacing: 18px;
}

.ng-scope:first-child {
    margin-top: 20px;
}

.tries-left {
    font-size: 20px;
}

.ng-scope:first-child .btn {
    margin-top: 0;
}

.bottom-links {
    margin-top: 15px;
}